<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>一万</key>
	<integer>1</integer>
	<key>一个</key>
	<integer>4</integer>
	<key>一城</key>
	<integer>1</integer>
	<key>一期</key>
	<integer>5</integer>
	<key>一楼</key>
	<integer>1</integer>
	<key>一次</key>
	<integer>6</integer>
	<key>一次性</key>
	<integer>2</integer>
	<key>一环</key>
	<integer>1</integer>
	<key>一等奖</key>
	<integer>20</integer>
	<key>一级</key>
	<integer>3</integer>
	<key>一线</key>
	<integer>2</integer>
	<key>一面</key>
	<integer>1</integer>
	<key>万一</key>
	<integer>1</integer>
	<key>万买</key>
	<integer>3</integer>
	<key>万元</key>
	<integer>10</integer>
	<key>万元大</key>
	<integer>1</integer>
	<key>万分</key>
	<integer>1</integer>
	<key>万团</key>
	<integer>1</integer>
	<key>万抵</key>
	<integer>4</integer>
	<key>万方奢尚</key>
	<integer>1</integer>
	<key>万科</key>
	<integer>20</integer>
	<key>万认筹</key>
	<integer>1</integer>
	<key>万象</key>
	<integer>2</integer>
	<key>万起</key>
	<integer>1</integer>
	<key>万达</key>
	<integer>2</integer>
	<key>万送</key>
	<integer>1</integer>
	<key>万首</key>
	<integer>2</integer>
	<key>三亚</key>
	<integer>1</integer>
	<key>三房</key>
	<integer>20</integer>
	<key>三日</key>
	<integer>1</integer>
	<key>三楼</key>
	<integer>1</integer>
	<key>上东</key>
	<integer>1</integer>
	<key>上午</key>
	<integer>7</integer>
	<key>上城</key>
	<integer>2</integer>
	<key>上市</key>
	<integer>4</integer>
	<key>上海</key>
	<integer>4</integer>
	<key>上海城</key>
	<integer>1</integer>
	<key>下午</key>
	<integer>2</integer>
	<key>下半年</key>
	<integer>1</integer>
	<key>下车</key>
	<integer>1</integer>
	<key>不便</key>
	<integer>1</integer>
	<key>不停</key>
	<integer>1</integer>
	<key>不再</key>
	<integer>1</integer>
	<key>不可</key>
	<integer>1</integer>
	<key>不够</key>
	<integer>1</integer>
	<key>不断</key>
	<integer>1</integer>
	<key>不是</key>
	<integer>1</integer>
	<key>不胜</key>
	<integer>1</integer>
	<key>不见</key>
	<integer>1</integer>
	<key>专业</key>
	<integer>20</integer>
	<key>专卖店</key>
	<integer>20</integer>
	<key>专属</key>
	<integer>1</integer>
	<key>专柜</key>
	<integer>5</integer>
	<key>专线</key>
	<integer>3</integer>
	<key>专车</key>
	<integer>1</integer>
	<key>专门店</key>
	<integer>1</integer>
	<key>世界</key>
	<integer>2</integer>
	<key>世纪</key>
	<integer>4</integer>
	<key>东区</key>
	<integer>2</integer>
	<key>东城</key>
	<integer>3</integer>
	<key>东安</key>
	<integer>1</integer>
	<key>东方</key>
	<integer>2</integer>
	<key>东站</key>
	<integer>1</integer>
	<key>东风路</key>
	<integer>1</integer>
	<key>丝巾</key>
	<integer>1</integer>
	<key>丝毫</key>
	<integer>1</integer>
	<key>丢失</key>
	<integer>1</integer>
	<key>个性化</key>
	<integer>1</integer>
	<key>中原</key>
	<integer>2</integer>
	<key>中友</key>
	<integer>1</integer>
	<key>中国</key>
	<integer>4</integer>
	<key>中坚</key>
	<integer>1</integer>
	<key>中央</key>
	<integer>12</integer>
	<key>中央商务区</key>
	<integer>20</integer>
	<key>中奖</key>
	<integer>20</integer>
	<key>中小</key>
	<integer>1</integer>
	<key>中山</key>
	<integer>1</integer>
	<key>中州</key>
	<integer>2</integer>
	<key>中式</key>
	<integer>1</integer>
	<key>中段</key>
	<integer>1</integer>
	<key>中环</key>
	<integer>14</integer>
	<key>中秋</key>
	<integer>1</integer>
	<key>中豪</key>
	<integer>1</integer>
	<key>丰富</key>
	<integer>1</integer>
	<key>临时</key>
	<integer>1</integer>
	<key>临海</key>
	<integer>20</integer>
	<key>临湖</key>
	<integer>20</integer>
	<key>临街</key>
	<integer>20</integer>
	<key>丹尼斯</key>
	<integer>1</integer>
	<key>主管</key>
	<integer>2</integer>
	<key>主题</key>
	<integer>1</integer>
	<key>举办</key>
	<integer>6</integer>
	<key>举行</key>
	<integer>4</integer>
	<key>久仰</key>
	<integer>1</integer>
	<key>之美</key>
	<integer>1</integer>
	<key>九五</key>
	<integer>1</integer>
	<key>九月</key>
	<integer>1</integer>
	<key>乡亲</key>
	<integer>1</integer>
	<key>书者</key>
	<integer>1</integer>
	<key>买就送</key>
	<integer>20</integer>
	<key>买房</key>
	<integer>20</integer>
	<key>争抢</key>
	<integer>10</integer>
	<key>事业</key>
	<integer>1</integer>
	<key>二七</key>
	<integer>1</integer>
	<key>二代</key>
	<integer>1</integer>
	<key>二十</key>
	<integer>1</integer>
	<key>二天</key>
	<integer>1</integer>
	<key>二房</key>
	<integer>1</integer>
	<key>二期</key>
	<integer>10</integer>
	<key>于明</key>
	<integer>1</integer>
	<key>于此</key>
	<integer>1</integer>
	<key>于贵宅</key>
	<integer>1</integer>
	<key>五一</key>
	<integer>3</integer>
	<key>五一节</key>
	<integer>2</integer>
	<key>五万</key>
	<integer>1</integer>
	<key>五千</key>
	<integer>1</integer>
	<key>五星级</key>
	<integer>20</integer>
	<key>五楼</key>
	<integer>3</integer>
	<key>五次</key>
	<integer>1</integer>
	<key>亚星</key>
	<integer>1</integer>
	<key>亚洲</key>
	<integer>1</integer>
	<key>交叉</key>
	<integer>1</integer>
	<key>交通</key>
	<integer>5</integer>
	<key>产品</key>
	<integer>8</integer>
	<key>产权</key>
	<integer>5</integer>
	<key>享受</key>
	<integer>12</integer>
	<key>京东</key>
	<integer>10</integer>
	<key>京信</key>
	<integer>1</integer>
	<key>亲临</key>
	<integer>2</integer>
	<key>亲情</key>
	<integer>1</integer>
	<key>亲朋好友</key>
	<integer>1</integer>
	<key>亲爱</key>
	<integer>6</integer>
	<key>人数</key>
	<integer>1</integer>
	<key>人民</key>
	<integer>2</integer>
	<key>人生</key>
	<integer>1</integer>
	<key>今天</key>
	<integer>5</integer>
	<key>今日</key>
	<integer>4</integer>
	<key>从速</key>
	<integer>2</integer>
	<key>他们</key>
	<integer>2</integer>
	<key>件套</key>
	<integer>1</integer>
	<key>价值</key>
	<integer>10</integer>
	<key>价格</key>
	<integer>10</integer>
	<key>任您</key>
	<integer>15</integer>
	<key>伊河路</key>
	<integer>1</integer>
	<key>伊甸园</key>
	<integer>1</integer>
	<key>休息</key>
	<integer>1</integer>
	<key>休憩</key>
	<integer>4</integer>
	<key>休闲</key>
	<integer>2</integer>
	<key>众多</key>
	<integer>1</integer>
	<key>优先</key>
	<integer>2</integer>
	<key>优惠</key>
	<integer>20</integer>
	<key>优惠券</key>
	<integer>20</integer>
	<key>优惠多多</key>
	<integer>20</integer>
	<key>优质</key>
	<integer>1</integer>
	<key>会会</key>
	<integer>1</integer>
	<key>会员</key>
	<integer>20</integer>
	<key>会员卡</key>
	<integer>20</integer>
	<key>会员资料</key>
	<integer>20</integer>
	<key>会客厅</key>
	<integer>1</integer>
	<key>会所</key>
	<integer>20</integer>
	<key>会议</key>
	<integer>2</integer>
	<key>会馆</key>
	<integer>1</integer>
	<key>伟业</key>
	<integer>1</integer>
	<key>伟龙</key>
	<integer>1</integer>
	<key>位于</key>
	<integer>1</integer>
	<key>低价</key>
	<integer>1</integer>
	<key>低调</key>
	<integer>1</integer>
	<key>住区</key>
	<integer>1</integer>
	<key>住宅</key>
	<integer>1</integer>
	<key>体育场</key>
	<integer>1</integer>
	<key>体验</key>
	<integer>4</integer>
	<key>余人</key>
	<integer>1</integer>
	<key>作为</key>
	<integer>1</integer>
	<key>你们</key>
	<integer>1</integer>
	<key>佳节</key>
	<integer>1</integer>
	<key>使命</key>
	<integer>1</integer>
	<key>使用</key>
	<integer>2</integer>
	<key>依然</key>
	<integer>1</integer>
	<key>促销</key>
	<integer>21</integer>
	<key>促销活动</key>
	<integer>1</integer>
	<key>保值</key>
	<integer>1</integer>
	<key>保留</key>
	<integer>1</integer>
	<key>保证</key>
	<integer>1</integer>
	<key>保险柜</key>
	<integer>1</integer>
	<key>信息</key>
	<integer>5</integer>
	<key>信用卡</key>
	<integer>20</integer>
	<key>信箱</key>
	<integer>1</integer>
	<key>修改</key>
	<integer>1</integer>
	<key>俯瞰</key>
	<integer>1</integer>
	<key>倾城</key>
	<integer>1</integer>
	<key>倾情</key>
	<integer>2</integer>
	<key>假日</key>
	<integer>2</integer>
	<key>假期</key>
	<integer>1</integer>
	<key>做好</key>
	<integer>1</integer>
	<key>停产</key>
	<integer>1</integer>
	<key>元起</key>
	<integer>1</integer>
	<key>充满</key>
	<integer>1</integer>
	<key>先后</key>
	<integer>1</integer>
	<key>先得</key>
	<integer>3</integer>
	<key>先来</key>
	<integer>1</integer>
	<key>先生</key>
	<integer>1</integer>
	<key>光临</key>
	<integer>3</integer>
	<key>免费</key>
	<integer>25</integer>
	<key>兑换</key>
	<integer>2</integer>
	<key>入会</key>
	<integer>4</integer>
	<key>入住</key>
	<integer>3</integer>
	<key>入场券</key>
	<integer>1</integer>
	<key>入市</key>
	<integer>1</integer>
	<key>入驻</key>
	<integer>1</integer>
	<key>全体</key>
	<integer>2</integer>
	<key>全南</key>
	<integer>1</integer>
	<key>全场</key>
	<integer>2</integer>
	<key>全城</key>
	<integer>9</integer>
	<key>全新</key>
	<integer>2</integer>
	<key>全景</key>
	<integer>1</integer>
	<key>全球</key>
	<integer>2</integer>
	<key>公司</key>
	<integer>15</integer>
	<key>公园</key>
	<integer>8</integer>
	<key>公寓</key>
	<integer>10</integer>
	<key>公开</key>
	<integer>4</integer>
	<key>公立</key>
	<integer>1</integer>
	<key>公里</key>
	<integer>2</integer>
	<key>六合</key>
	<integer>1</integer>
	<key>兰德</key>
	<integer>1</integer>
	<key>共享</key>
	<integer>1</integer>
	<key>共勉</key>
	<integer>1</integer>
	<key>共同</key>
	<integer>2</integer>
	<key>共庆</key>
	<integer>1</integer>
	<key>关于</key>
	<integer>1</integer>
	<key>关心</key>
	<integer>1</integer>
	<key>关注</key>
	<integer>1</integer>
	<key>其中</key>
	<integer>1</integer>
	<key>其余</key>
	<integer>1</integer>
	<key>其后</key>
	<integer>1</integer>
	<key>典藏</key>
	<integer>2</integer>
	<key>典雅</key>
	<integer>1</integer>
	<key>内容</key>
	<integer>1</integer>
	<key>内衣</key>
	<integer>4</integer>
	<key>再次</key>
	<integer>2</integer>
	<key>再生产</key>
	<integer>1</integer>
	<key>写字楼</key>
	<integer>1</integer>
	<key>农业</key>
	<integer>2</integer>
	<key>冠军</key>
	<integer>1</integer>
	<key>冲抵</key>
	<integer>2</integer>
	<key>准备</key>
	<integer>1</integer>
	<key>减价</key>
	<integer>1</integer>
	<key>凤凰</key>
	<integer>3</integer>
	<key>凭原</key>
	<integer>1</integer>
	<key>出清</key>
	<integer>1</integer>
	<key>分会场</key>
	<integer>1</integer>
	<key>分店</key>
	<integer>3</integer>
	<key>分摊</key>
	<integer>1</integer>
	<key>刘勤</key>
	<integer>1</integer>
	<key>刘果</key>
	<integer>3</integer>
	<key>刘翔</key>
	<integer>1</integer>
	<key>刘青</key>
	<integer>1</integer>
	<key>创意</key>
	<integer>1</integer>
	<key>利润</key>
	<integer>1</integer>
	<key>别墅</key>
	<integer>4</integer>
	<key>别墅区</key>
	<integer>1</integer>
	<key>到场</key>
	<integer>2</integer>
	<key>到访</key>
	<integer>3</integer>
	<key>前后</key>
	<integer>1</integer>
	<key>前景</key>
	<integer>1</integer>
	<key>前景展望</key>
	<integer>1</integer>
	<key>前来</key>
	<integer>1</integer>
	<key>办法</key>
	<integer>1</integer>
	<key>办理</key>
	<integer>2</integer>
	<key>加入</key>
	<integer>1</integer>
	<key>加油</key>
	<integer>1</integer>
	<key>务必</key>
	<integer>1</integer>
	<key>劳动</key>
	<integer>1</integer>
	<key>化妆</key>
	<integer>4</integer>
	<key>化妆品</key>
	<integer>12</integer>
	<key>化妆镜</key>
	<integer>1</integer>
	<key>北京</key>
	<integer>2</integer>
	<key>北城</key>
	<integer>1</integer>
	<key>区分</key>
	<integer>1</integer>
	<key>十一</key>
	<integer>1</integer>
	<key>十台</key>
	<integer>1</integer>
	<key>十字</key>
	<integer>1</integer>
	<key>千亿</key>
	<integer>1</integer>
	<key>升值</key>
	<integer>1</integer>
	<key>升级</key>
	<integer>3</integer>
	<key>升龙</key>
	<integer>2</integer>
	<key>华丽</key>
	<integer>1</integer>
	<key>华宅</key>
	<integer>2</integer>
	<key>华府</key>
	<integer>1</integer>
	<key>华庭</key>
	<integer>1</integer>
	<key>华润</key>
	<integer>1</integer>
	<key>华良</key>
	<integer>1</integer>
	<key>华艺</key>
	<integer>3</integer>
	<key>协调</key>
	<integer>1</integer>
	<key>单价</key>
	<integer>1</integer>
	<key>单位</key>
	<integer>1</integer>
	<key>南京</key>
	<integer>2</integer>
	<key>南北</key>
	<integer>1</integer>
	<key>南向</key>
	<integer>2</integer>
	<key>南城</key>
	<integer>1</integer>
	<key>南湖</key>
	<integer>1</integer>
	<key>卡可</key>
	<integer>1</integer>
	<key>卡号</key>
	<integer>1</integer>
	<key>卫辉</key>
	<integer>1</integer>
	<key>即可</key>
	<integer>4</integer>
	<key>即将</key>
	<integer>7</integer>
	<key>即日</key>
	<integer>2</integer>
	<key>厂商</key>
	<integer>1</integer>
	<key>厂里</key>
	<integer>1</integer>
	<key>压轴</key>
	<integer>1</integer>
	<key>原发</key>
	<integer>1</integer>
	<key>原因</key>
	<integer>1</integer>
	<key>参与</key>
	<integer>4</integer>
	<key>参会</key>
	<integer>1</integer>
	<key>参加</key>
	<integer>10</integer>
	<key>参观</key>
	<integer>1</integer>
	<key>双倍</key>
	<integer>2</integer>
	<key>双向</key>
	<integer>1</integer>
	<key>双拼</key>
	<integer>1</integer>
	<key>双河</key>
	<integer>1</integer>
	<key>发售</key>
	<integer>6</integer>
	<key>发展</key>
	<integer>1</integer>
	<key>发布会</key>
	<integer>3</integer>
	<key>发现</key>
	<integer>1</integer>
	<key>发现者</key>
	<integer>1</integer>
	<key>发财</key>
	<integer>1</integer>
	<key>另加</key>
	<integer>1</integer>
	<key>另有</key>
	<integer>2</integer>
	<key>只有</key>
	<integer>1</integer>
	<key>只限</key>
	<integer>1</integer>
	<key>可以</key>
	<integer>4</integer>
	<key>可在</key>
	<integer>1</integer>
	<key>可惜</key>
	<integer>1</integer>
	<key>号楼</key>
	<integer>6</integer>
	<key>各位</key>
	<integer>3</integer>
	<key>各种</key>
	<integer>1</integer>
	<key>合作</key>
	<integer>1</integer>
	<key>吉培培</key>
	<integer>1</integer>
	<key>吉祥物</key>
	<integer>1</integer>
	<key>同事</key>
	<integer>2</integer>
	<key>同时</key>
	<integer>1</integer>
	<key>同步</key>
	<integer>2</integer>
	<key>名企</key>
	<integer>1</integer>
	<key>名宅</key>
	<integer>1</integer>
	<key>名校</key>
	<integer>2</integer>
	<key>名牌</key>
	<integer>2</integer>
	<key>名苑</key>
	<integer>2</integer>
	<key>名酒</key>
	<integer>1</integer>
	<key>名门</key>
	<integer>1</integer>
	<key>名额</key>
	<integer>3</integer>
	<key>启动</key>
	<integer>2</integer>
	<key>吹响</key>
	<integer>1</integer>
	<key>呈现</key>
	<integer>2</integer>
	<key>告知</key>
	<integer>1</integer>
	<key>告诉</key>
	<integer>1</integer>
	<key>员工</key>
	<integer>2</integer>
	<key>周年庆典</key>
	<integer>1</integer>
	<key>周日</key>
	<integer>1</integer>
	<key>周末</key>
	<integer>3</integer>
	<key>咨询</key>
	<integer>8</integer>
	<key>咨询热线</key>
	<integer>1</integer>
	<key>咨询电话</key>
	<integer>4</integer>
	<key>品牌</key>
	<integer>21</integer>
	<key>品类</key>
	<integer>1</integer>
	<key>品节</key>
	<integer>2</integer>
	<key>品质</key>
	<integer>3</integer>
	<key>品鉴</key>
	<integer>1</integer>
	<key>唐装</key>
	<integer>1</integer>
	<key>售后</key>
	<integer>1</integer>
	<key>售后服务</key>
	<integer>1</integer>
	<key>售后服务部</key>
	<integer>1</integer>
	<key>售完为止</key>
	<integer>1</integer>
	<key>售楼</key>
	<integer>1</integer>
	<key>唯一</key>
	<integer>1</integer>
	<key>商业</key>
	<integer>2</integer>
	<key>商业街</key>
	<integer>1</integer>
	<key>商务空间</key>
	<integer>1</integer>
	<key>商厦</key>
	<integer>3</integer>
	<key>商品</key>
	<integer>7</integer>
	<key>商场</key>
	<integer>25</integer>
	<key>商城</key>
	<integer>2</integer>
	<key>商新蓝</key>
	<integer>1</integer>
	<key>商明钻</key>
	<integer>1</integer>
	<key>商机</key>
	<integer>1</integer>
	<key>商铺</key>
	<integer>2</integer>
	<key>喜人</key>
	<integer>1</integer>
	<key>喜爱</key>
	<integer>1</integer>
	<key>喜迎</key>
	<integer>1</integer>
	<key>嘉奖</key>
	<integer>2</integer>
	<key>四天</key>
	<integer>1</integer>
	<key>四年</key>
	<integer>1</integer>
	<key>四星级</key>
	<integer>2</integer>
	<key>四月</key>
	<integer>1</integer>
	<key>四楼</key>
	<integer>3</integer>
	<key>四百</key>
	<integer>1</integer>
	<key>回复</key>
	<integer>1</integer>
	<key>回家</key>
	<integer>1</integer>
	<key>回报</key>
	<integer>1</integer>
	<key>回馈</key>
	<integer>4</integer>
	<key>团购</key>
	<integer>5</integer>
	<key>团队</key>
	<integer>2</integer>
	<key>园景</key>
	<integer>1</integer>
	<key>园林</key>
	<integer>5</integer>
	<key>国家</key>
	<integer>2</integer>
	<key>国庆</key>
	<integer>1</integer>
	<key>国瑞</key>
	<integer>1</integer>
	<key>国际</key>
	<integer>11</integer>
	<key>国际商务</key>
	<integer>1</integer>
	<key>国际饭店</key>
	<integer>1</integer>
	<key>国风</key>
	<integer>1</integer>
	<key>图案</key>
	<integer>1</integer>
	<key>在即</key>
	<integer>2</integer>
	<key>在家</key>
	<integer>1</integer>
	<key>在校</key>
	<integer>1</integer>
	<key>地下</key>
	<integer>1</integer>
	<key>地中海</key>
	<integer>3</integer>
	<key>地址</key>
	<integer>3</integer>
	<key>地标</key>
	<integer>3</integer>
	<key>地段</key>
	<integer>2</integer>
	<key>地铁</key>
	<integer>5</integer>
	<key>地铁口</key>
	<integer>6</integer>
	<key>地面</key>
	<integer>1</integer>
	<key>均价</key>
	<integer>2</integer>
	<key>坡地</key>
	<integer>1</integer>
	<key>垂询</key>
	<integer>2</integer>
	<key>城市</key>
	<integer>4</integer>
	<key>城邦</key>
	<integer>1</integer>
	<key>城里</key>
	<integer>1</integer>
	<key>培训</key>
	<integer>4</integer>
	<key>基础</key>
	<integer>1</integer>
	<key>基金</key>
	<integer>3</integer>
	<key>填写</key>
	<integer>1</integer>
	<key>增值</key>
	<integer>2</integer>
	<key>处理</key>
	<integer>2</integer>
	<key>复式</key>
	<integer>3</integer>
	<key>夏凉被</key>
	<integer>1</integer>
	<key>夏威夷</key>
	<integer>1</integer>
	<key>外出</key>
	<integer>1</integer>
	<key>多个</key>
	<integer>1</integer>
	<key>多少</key>
	<integer>1</integer>
	<key>多层</key>
	<integer>5</integer>
	<key>多种</key>
	<integer>1</integer>
	<key>多谢</key>
	<integer>1</integer>
	<key>大世界</key>
	<integer>1</integer>
	<key>大厦</key>
	<integer>4</integer>
	<key>大商</key>
	<integer>2</integer>
	<key>大型</key>
	<integer>5</integer>
	<key>大城</key>
	<integer>3</integer>
	<key>大奖</key>
	<integer>2</integer>
	<key>大家</key>
	<integer>3</integer>
	<key>大师</key>
	<integer>1</integer>
	<key>大开</key>
	<integer>1</integer>
	<key>大成</key>
	<integer>1</integer>
	<key>大战</key>
	<integer>1</integer>
	<key>大气</key>
	<integer>1</integer>
	<key>大河</key>
	<integer>1</integer>
	<key>大盘</key>
	<integer>8</integer>
	<key>大礼</key>
	<integer>5</integer>
	<key>大赛</key>
	<integer>1</integer>
	<key>大道</key>
	<integer>3</integer>
	<key>天价</key>
	<integer>1</integer>
	<key>天机</key>
	<integer>1</integer>
	<key>天气</key>
	<integer>1</integer>
	<key>太空</key>
	<integer>1</integer>
	<key>奖励</key>
	<integer>3</integer>
	<key>奖品</key>
	<integer>20</integer>
	<key>奥斯卡</key>
	<integer>1</integer>
	<key>好运</key>
	<integer>20</integer>
	<key>如下</key>
	<integer>1</integer>
	<key>如意</key>
	<integer>1</integer>
	<key>如能</key>
	<integer>1</integer>
	<key>妆容</key>
	<integer>1</integer>
	<key>妈妈</key>
	<integer>1</integer>
	<key>姓名</key>
	<integer>1</integer>
	<key>威东</key>
	<integer>1</integer>
	<key>嫩白</key>
	<integer>1</integer>
	<key>子女</key>
	<integer>1</integer>
	<key>季末</key>
	<integer>1</integer>
	<key>季节</key>
	<integer>1</integer>
	<key>学位</key>
	<integer>1</integer>
	<key>学区</key>
	<integer>1</integer>
	<key>安个家</key>
	<integer>1</integer>
	<key>安全</key>
	<integer>2</integer>
	<key>安排</key>
	<integer>2</integer>
	<key>定于</key>
	<integer>2</integer>
	<key>定制</key>
	<integer>1</integer>
	<key>定房</key>
	<integer>2</integer>
	<key>定购</key>
	<integer>1</integer>
	<key>宜居</key>
	<integer>1</integer>
	<key>实惠</key>
	<integer>20</integer>
	<key>实现</key>
	<integer>1</integer>
	<key>实行</key>
	<integer>1</integer>
	<key>实验</key>
	<integer>2</integer>
	<key>客户</key>
	<integer>9</integer>
	<key>客服中心</key>
	<integer>2</integer>
	<key>客运</key>
	<integer>1</integer>
	<key>宣传</key>
	<integer>1</integer>
	<key>宣传网站</key>
	<integer>1</integer>
	<key>宫廷</key>
	<integer>1</integer>
	<key>家中</key>
	<integer>1</integer>
	<key>家具</key>
	<integer>1</integer>
	<key>家园</key>
	<integer>1</integer>
	<key>家门口</key>
	<integer>1</integer>
	<key>宾馆</key>
	<integer>2</integer>
	<key>寄出</key>
	<integer>1</integer>
	<key>密度</key>
	<integer>2</integer>
	<key>对此</key>
	<integer>2</integer>
	<key>对面</key>
	<integer>1</integer>
	<key>封顶</key>
	<integer>1</integer>
	<key>将于</key>
	<integer>3</integer>
	<key>将对</key>
	<integer>1</integer>
	<key>尊崇</key>
	<integer>2</integer>
	<key>尊敬</key>
	<integer>8</integer>
	<key>尊贵</key>
	<integer>4</integer>
	<key>小区</key>
	<integer>2</integer>
	<key>小姐</key>
	<integer>1</integer>
	<key>小学</key>
	<integer>3</integer>
	<key>小家电</key>
	<integer>1</integer>
	<key>小户</key>
	<integer>1</integer>
	<key>小朋友</key>
	<integer>1</integer>
	<key>小镇</key>
	<integer>1</integer>
	<key>少量</key>
	<integer>1</integer>
	<key>尽力</key>
	<integer>1</integer>
	<key>层高</key>
	<integer>2</integer>
	<key>居住</key>
	<integer>3</integer>
	<key>居家</key>
	<integer>1</integer>
	<key>届时</key>
	<integer>1</integer>
	<key>展卖会</key>
	<integer>1</integer>
	<key>山居</key>
	<integer>1</integer>
	<key>山景</key>
	<integer>1</integer>
	<key>山林</key>
	<integer>1</integer>
	<key>山水</key>
	<integer>2</integer>
	<key>岸线</key>
	<integer>1</integer>
	<key>嵩山</key>
	<integer>1</integer>
	<key>巡展</key>
	<integer>1</integer>
	<key>工作</key>
	<integer>2</integer>
	<key>工资</key>
	<integer>1</integer>
	<key>已经</key>
	<integer>3</integer>
	<key>市中心</key>
	<integer>1</integer>
	<key>市北</key>
	<integer>1</integer>
	<key>市区</key>
	<integer>1</integer>
	<key>市府</key>
	<integer>1</integer>
	<key>市政</key>
	<integer>1</integer>
	<key>带来</key>
	<integer>1</integer>
	<key>带领</key>
	<integer>1</integer>
	<key>帮助</key>
	<integer>1</integer>
	<key>常胜</key>
	<integer>1</integer>
	<key>幅度</key>
	<integer>1</integer>
	<key>平一至</key>
	<integer>1</integer>
	<key>平两房</key>
	<integer>3</integer>
	<key>平准</key>
	<integer>1</integer>
	<key>平双气</key>
	<integer>2</integer>
	<key>平商</key>
	<integer>1</integer>
	<key>平四</key>
	<integer>1</integer>
	<key>平成</key>
	<integer>1</integer>
	<key>平方</key>
	<integer>28</integer>
	<key>平方米</key>
	<integer>5</integer>
	<key>平日</key>
	<integer>1</integer>
	<key>平板</key>
	<integer>1</integer>
	<key>平瞰景</key>
	<integer>1</integer>
	<key>平臻藏</key>
	<integer>1</integer>
	<key>平起</key>
	<integer>1</integer>
	<key>平通</key>
	<integer>1</integer>
	<key>平阔</key>
	<integer>1</integer>
	<key>年轻</key>
	<integer>1</integer>
	<key>幸会</key>
	<integer>1</integer>
	<key>幼儿园</key>
	<integer>3</integer>
	<key>广场</key>
	<integer>5</integer>
	<key>广大</key>
	<integer>1</integer>
	<key>庆祝</key>
	<integer>2</integer>
	<key>底价</key>
	<integer>1</integer>
	<key>店名</key>
	<integer>1</integer>
	<key>店铺</key>
	<integer>2</integer>
	<key>度假</key>
	<integer>1</integer>
	<key>庭院</key>
	<integer>3</integer>
	<key>康乃馨</key>
	<integer>2</integer>
	<key>康桥</key>
	<integer>5</integer>
	<key>延安路</key>
	<integer>1</integer>
	<key>建业</key>
	<integer>1</integer>
	<key>建议</key>
	<integer>1</integer>
	<key>开业</key>
	<integer>5</integer>
	<key>开会</key>
	<integer>1</integer>
	<key>开启</key>
	<integer>2</integer>
	<key>开场</key>
	<integer>1</integer>
	<key>开始</key>
	<integer>1</integer>
	<key>开幕</key>
	<integer>2</integer>
	<key>开店</key>
	<integer>1</integer>
	<key>开放</key>
	<integer>3</integer>
	<key>开盘</key>
	<integer>13</integer>
	<key>开盘价</key>
	<integer>1</integer>
	<key>开票</key>
	<integer>1</integer>
	<key>开馆</key>
	<integer>1</integer>
	<key>张磊</key>
	<integer>1</integer>
	<key>弹指</key>
	<integer>1</integer>
	<key>强劲</key>
	<integer>1</integer>
	<key>当天</key>
	<integer>5</integer>
	<key>当月</key>
	<integer>1</integer>
	<key>形象</key>
	<integer>2</integer>
	<key>影响</key>
	<integer>1</integer>
	<key>往后</key>
	<integer>1</integer>
	<key>徐家汇</key>
	<integer>1</integer>
	<key>得到</key>
	<integer>2</integer>
	<key>微波炉</key>
	<integer>1</integer>
	<key>德基</key>
	<integer>1</integer>
	<key>快乐</key>
	<integer>6</integer>
	<key>快件</key>
	<integer>1</integer>
	<key>快报</key>
	<integer>1</integer>
	<key>快讯</key>
	<integer>1</integer>
	<key>思念</key>
	<integer>1</integer>
	<key>性价比</key>
	<integer>3</integer>
	<key>性别</key>
	<integer>1</integer>
	<key>总价</key>
	<integer>4</integer>
	<key>总台</key>
	<integer>1</integer>
	<key>总店</key>
	<integer>1</integer>
	<key>总监</key>
	<integer>1</integer>
	<key>恢复</key>
	<integer>1</integer>
	<key>恭候</key>
	<integer>2</integer>
	<key>恭迎</key>
	<integer>1</integer>
	<key>悉数</key>
	<integer>1</integer>
	<key>情况</key>
	<integer>3</integer>
	<key>惊喜</key>
	<integer>8</integer>
	<key>惜售</key>
	<integer>1</integer>
	<key>惠顾</key>
	<integer>3</integer>
	<key>愉快</key>
	<integer>4</integer>
	<key>意向书</key>
	<integer>1</integer>
	<key>感激</key>
	<integer>1</integer>
	<key>感谢</key>
	<integer>5</integer>
	<key>成为</key>
	<integer>2</integer>
	<key>成功</key>
	<integer>1</integer>
	<key>成本价</key>
	<integer>1</integer>
	<key>成熟</key>
	<integer>1</integer>
	<key>成绩</key>
	<integer>1</integer>
	<key>成都</key>
	<integer>2</integer>
	<key>成长</key>
	<integer>1</integer>
	<key>我们</key>
	<integer>7</integer>
	<key>战报</key>
	<integer>1</integer>
	<key>战略</key>
	<integer>1</integer>
	<key>截止</key>
	<integer>3</integer>
	<key>截至</key>
	<integer>1</integer>
	<key>户型</key>
	<integer>6</integer>
	<key>户户</key>
	<integer>1</integer>
	<key>房只选</key>
	<integer>1</integer>
	<key>房子</key>
	<integer>2</integer>
	<key>房尖</key>
	<integer>1</integer>
	<key>房幸</key>
	<integer>1</integer>
	<key>房源</key>
	<integer>11</integer>
	<key>手工</key>
	<integer>1</integer>
	<key>手机链</key>
	<integer>1</integer>
	<key>手部</key>
	<integer>1</integer>
	<key>打折</key>
	<integer>1</integer>
	<key>打烊</key>
	<integer>1</integer>
	<key>打球</key>
	<integer>1</integer>
	<key>批发</key>
	<integer>1</integer>
	<key>把握</key>
	<integer>1</integer>
	<key>抓住</key>
	<integer>1</integer>
	<key>抓紧</key>
	<integer>1</integer>
	<key>投资</key>
	<integer>5</integer>
	<key>抗议</key>
	<integer>1</integer>
	<key>折叠</key>
	<integer>1</integer>
	<key>折叠车</key>
	<integer>1</integer>
	<key>折扣</key>
	<integer>5</integer>
	<key>折起</key>
	<integer>1</integer>
	<key>抢购</key>
	<integer>4</integer>
	<key>护理</key>
	<integer>5</integer>
	<key>护肤</key>
	<integer>1</integer>
	<key>抱歉</key>
	<integer>2</integer>
	<key>抽取</key>
	<integer>1</integer>
	<key>抽奖</key>
	<integer>11</integer>
	<key>抽空</key>
	<integer>1</integer>
	<key>拎包</key>
	<integer>1</integer>
	<key>招募</key>
	<integer>16</integer>
	<key>拥抱</key>
	<integer>1</integer>
	<key>拥有</key>
	<integer>2</integer>
	<key>持卡</key>
	<integer>1</integer>
	<key>持续</key>
	<integer>2</integer>
	<key>挂失</key>
	<integer>1</integer>
	<key>按揭</key>
	<integer>2</integer>
	<key>挎包</key>
	<integer>1</integer>
	<key>挑战</key>
	<integer>1</integer>
	<key>换房</key>
	<integer>1</integer>
	<key>排列</key>
	<integer>1</integer>
	<key>排号</key>
	<integer>1</integer>
	<key>接到</key>
	<integer>1</integer>
	<key>接受</key>
	<integer>1</integer>
	<key>推出</key>
	<integer>7</integer>
	<key>推广</key>
	<integer>3</integer>
	<key>推迟</key>
	<integer>1</integer>
	<key>提供</key>
	<integer>1</integer>
	<key>提前</key>
	<integer>2</integer>
	<key>提示</key>
	<integer>1</integer>
	<key>提醒</key>
	<integer>1</integer>
	<key>携带</key>
	<integer>2</integer>
	<key>支持</key>
	<integer>2</integer>
	<key>收到</key>
	<integer>3</integer>
	<key>收官</key>
	<integer>3</integer>
	<key>收益</key>
	<integer>1</integer>
	<key>收集</key>
	<integer>1</integer>
	<key>改为</key>
	<integer>1</integer>
	<key>放送</key>
	<integer>1</integer>
	<key>放飞</key>
	<integer>1</integer>
	<key>政府</key>
	<integer>2</integer>
	<key>效果</key>
	<integer>1</integer>
	<key>教师</key>
	<integer>1</integer>
	<key>教育</key>
	<integer>3</integer>
	<key>敬请</key>
	<integer>7</integer>
	<key>数万</key>
	<integer>1</integer>
	<key>数据</key>
	<integer>1</integer>
	<key>数量</key>
	<integer>1</integer>
	<key>数量有限</key>
	<integer>2</integer>
	<key>整顿</key>
	<integer>1</integer>
	<key>新乡</key>
	<integer>1</integer>
	<key>新产品</key>
	<integer>2</integer>
	<key>新区</key>
	<integer>1</integer>
	<key>新卡</key>
	<integer>2</integer>
	<key>新品</key>
	<integer>8</integer>
	<key>新品推荐</key>
	<integer>1</integer>
	<key>新城</key>
	<integer>1</integer>
	<key>新店</key>
	<integer>3</integer>
	<key>新款</key>
	<integer>1</integer>
	<key>新进</key>
	<integer>1</integer>
	<key>方式</key>
	<integer>1</integer>
	<key>方法</key>
	<integer>1</integer>
	<key>方面</key>
	<integer>1</integer>
	<key>旅游</key>
	<integer>1</integer>
	<key>旅游节</key>
	<integer>2</integer>
	<key>无限</key>
	<integer>1</integer>
	<key>日前</key>
	<integer>3</integer>
	<key>日后</key>
	<integer>1</integer>
	<key>日报</key>
	<integer>1</integer>
	<key>日晚</key>
	<integer>1</integer>
	<key>日期</key>
	<integer>3</integer>
	<key>日用</key>
	<integer>1</integer>
	<key>日盛</key>
	<integer>1</integer>
	<key>日至</key>
	<integer>10</integer>
	<key>早上</key>
	<integer>1</integer>
	<key>时代</key>
	<integer>1</integer>
	<key>时尚</key>
	<integer>2</integer>
	<key>时间</key>
	<integer>9</integer>
	<key>明天</key>
	<integer>1</integer>
	<key>明媚</key>
	<integer>1</integer>
	<key>明户</key>
	<integer>1</integer>
	<key>明示</key>
	<integer>1</integer>
	<key>春夏</key>
	<integer>1</integer>
	<key>春天</key>
	<integer>2</integer>
	<key>春季</key>
	<integer>2</integer>
	<key>是否</key>
	<integer>1</integer>
	<key>晚上</key>
	<integer>1</integer>
	<key>晚会</key>
	<integer>1</integer>
	<key>景苑</key>
	<integer>1</integer>
	<key>景观</key>
	<integer>3</integer>
	<key>晶莹</key>
	<integer>1</integer>
	<key>智能化</key>
	<integer>1</integer>
	<key>更多</key>
	<integer>2</integer>
	<key>更改</key>
	<integer>3</integer>
	<key>更新</key>
	<integer>5</integer>
	<key>更正</key>
	<integer>1</integer>
	<key>替换</key>
	<integer>1</integer>
	<key>最低</key>
	<integer>3</integer>
	<key>最小</key>
	<integer>2</integer>
	<key>最强</key>
	<integer>1</integer>
	<key>最高</key>
	<integer>2</integer>
	<key>有效</key>
	<integer>2</integer>
	<key>有效期</key>
	<integer>1</integer>
	<key>有特色</key>
	<integer>1</integer>
	<key>有的</key>
	<integer>1</integer>
	<key>有误</key>
	<integer>1</integer>
	<key>有请</key>
	<integer>1</integer>
	<key>朋友</key>
	<integer>4</integer>
	<key>服务</key>
	<integer>1</integer>
	<key>服务中心</key>
	<integer>1</integer>
	<key>服装</key>
	<integer>2</integer>
	<key>服装节</key>
	<integer>1</integer>
	<key>服饰</key>
	<integer>2</integer>
	<key>朝阳区</key>
	<integer>1</integer>
	<key>期待</key>
	<integer>2</integer>
	<key>期颐</key>
	<integer>1</integer>
	<key>未来</key>
	<integer>1</integer>
	<key>本周</key>
	<integer>1</integer>
	<key>本店</key>
	<integer>3</integer>
	<key>本日</key>
	<integer>6</integer>
	<key>本月</key>
	<integer>6</integer>
	<key>本期</key>
	<integer>1</integer>
	<key>本条</key>
	<integer>11</integer>
	<key>机会</key>
	<integer>4</integer>
	<key>机关</key>
	<integer>1</integer>
	<key>机构</key>
	<integer>2</integer>
	<key>杂志</key>
	<integer>1</integer>
	<key>权利</key>
	<integer>1</integer>
	<key>权威</key>
	<integer>1</integer>
	<key>权益</key>
	<integer>1</integer>
	<key>李静</key>
	<integer>1</integer>
	<key>材料</key>
	<integer>1</integer>
	<key>来访</key>
	<integer>1</integer>
	<key>杭州</key>
	<integer>2</integer>
	<key>板式</key>
	<integer>2</integer>
	<key>极目</key>
	<integer>1</integer>
	<key>林径</key>
	<integer>3</integer>
	<key>架空</key>
	<integer>1</integer>
	<key>查收</key>
	<integer>3</integer>
	<key>查看</key>
	<integer>1</integer>
	<key>栏目</key>
	<integer>1</integer>
	<key>样板</key>
	<integer>1</integer>
	<key>样板房</key>
	<integer>1</integer>
	<key>核心</key>
	<integer>2</integer>
	<key>核算</key>
	<integer>3</integer>
	<key>根据</key>
	<integer>1</integer>
	<key>格式</key>
	<integer>1</integer>
	<key>梦想</key>
	<integer>2</integer>
	<key>检查</key>
	<integer>1</integer>
	<key>森林</key>
	<integer>2</integer>
	<key>椅垫</key>
	<integer>1</integer>
	<key>楼层</key>
	<integer>1</integer>
	<key>楼王</key>
	<integer>5</integer>
	<key>橡树</key>
	<integer>1</integer>
	<key>欢迎</key>
	<integer>9</integer>
	<key>欢迎光临</key>
	<integer>1</integer>
	<key>欢迎惠顾</key>
	<integer>1</integer>
	<key>欧式</key>
	<integer>1</integer>
	<key>欧洲</key>
	<integer>1</integer>
	<key>欧陆</key>
	<integer>1</integer>
	<key>歉意</key>
	<integer>1</integer>
	<key>止步</key>
	<integer>1</integer>
	<key>正价</key>
	<integer>1</integer>
	<key>正在</key>
	<integer>2</integer>
	<key>此信</key>
	<integer>4</integer>
	<key>此次</key>
	<integer>1</integer>
	<key>残次</key>
	<integer>2</integer>
	<key>母亲节</key>
	<integer>4</integer>
	<key>每一</key>
	<integer>1</integer>
	<key>每人</key>
	<integer>1</integer>
	<key>每周</key>
	<integer>1</integer>
	<key>每天</key>
	<integer>3</integer>
	<key>每套</key>
	<integer>1</integer>
	<key>每月</key>
	<integer>2</integer>
	<key>每次</key>
	<integer>1</integer>
	<key>比赛</key>
	<integer>1</integer>
	<key>比较</key>
	<integer>1</integer>
	<key>毛利</key>
	<integer>3</integer>
	<key>毛利率</key>
	<integer>1</integer>
	<key>毛孔</key>
	<integer>1</integer>
	<key>水岸</key>
	<integer>1</integer>
	<key>永华</key>
	<integer>1</integer>
	<key>汇总</key>
	<integer>2</integer>
	<key>汇报</key>
	<integer>5</integer>
	<key>汇款</key>
	<integer>1</integer>
	<key>汽车用品</key>
	<integer>1</integer>
	<key>沈阳</key>
	<integer>1</integer>
	<key>没有</key>
	<integer>1</integer>
	<key>河原</key>
	<integer>1</integer>
	<key>河畔</key>
	<integer>1</integer>
	<key>泊车</key>
	<integer>1</integer>
	<key>法式</key>
	<integer>1</integer>
	<key>注意</key>
	<integer>3</integer>
	<key>泰国</key>
	<integer>1</integer>
	<key>洋房</key>
	<integer>9</integer>
	<key>洋楼</key>
	<integer>3</integer>
	<key>活力</key>
	<integer>1</integer>
	<key>活动</key>
	<integer>30</integer>
	<key>活动通知</key>
	<integer>1</integer>
	<key>派对</key>
	<integer>1</integer>
	<key>流行</key>
	<integer>1</integer>
	<key>浅山</key>
	<integer>1</integer>
	<key>浪漫</key>
	<integer>2</integer>
	<key>浮云</key>
	<integer>1</integer>
	<key>海南</key>
	<integer>4</integer>
	<key>海报</key>
	<integer>1</integer>
	<key>海拔</key>
	<integer>1</integer>
	<key>海量</key>
	<integer>1</integer>
	<key>消费</key>
	<integer>1</integer>
	<key>消费者</key>
	<integer>2</integer>
	<key>润华</key>
	<integer>1</integer>
	<key>涨价</key>
	<integer>1</integer>
	<key>液晶电视</key>
	<integer>1</integer>
	<key>淘汰</key>
	<integer>1</integer>
	<key>深圳</key>
	<integer>1</integer>
	<key>深感</key>
	<integer>1</integer>
	<key>清水湾</key>
	<integer>8</integer>
	<key>清洗</key>
	<integer>2</integer>
	<key>温馨</key>
	<integer>1</integer>
	<key>湖畔</key>
	<integer>1</integer>
	<key>满额</key>
	<integer>1</integer>
	<key>滨河</key>
	<integer>1</integer>
	<key>潮流</key>
	<integer>1</integer>
	<key>澄心</key>
	<integer>1</integer>
	<key>激励</key>
	<integer>1</integer>
	<key>激情</key>
	<integer>1</integer>
	<key>瀚海</key>
	<integer>1</integer>
	<key>火爆</key>
	<integer>3</integer>
	<key>火车站</key>
	<integer>1</integer>
	<key>点心</key>
	<integer>1</integer>
	<key>热情</key>
	<integer>1</integer>
	<key>热线</key>
	<integer>6</integer>
	<key>热销</key>
	<integer>2</integer>
	<key>父母</key>
	<integer>1</integer>
	<key>物业</key>
	<integer>5</integer>
	<key>牵头</key>
	<integer>1</integer>
	<key>牵手</key>
	<integer>1</integer>
	<key>特价</key>
	<integer>7</integer>
	<key>特例</key>
	<integer>1</integer>
	<key>特别</key>
	<integer>2</integer>
	<key>特区</key>
	<integer>1</integer>
	<key>特卖</key>
	<integer>2</integer>
	<key>特惠</key>
	<integer>13</integer>
	<key>特权</key>
	<integer>1</integer>
	<key>犀利</key>
	<integer>1</integer>
	<key>犹豫</key>
	<integer>1</integer>
	<key>献给</key>
	<integer>1</integer>
	<key>王庆</key>
	<integer>1</integer>
	<key>玫瑰</key>
	<integer>1</integer>
	<key>环境</key>
	<integer>2</integer>
	<key>环线</key>
	<integer>1</integer>
	<key>现今</key>
	<integer>1</integer>
	<key>现代</key>
	<integer>3</integer>
	<key>现场</key>
	<integer>4</integer>
	<key>现已</key>
	<integer>1</integer>
	<key>现房</key>
	<integer>9</integer>
	<key>现金</key>
	<integer>3</integer>
	<key>珍稀</key>
	<integer>1</integer>
	<key>珍藏</key>
	<integer>4</integer>
	<key>珍贵</key>
	<integer>1</integer>
	<key>珠宝</key>
	<integer>3</integer>
	<key>瑞园</key>
	<integer>1</integer>
	<key>瓷砖</key>
	<integer>1</integer>
	<key>生日</key>
	<integer>5</integer>
	<key>生日祝福</key>
	<integer>1</integer>
	<key>生活</key>
	<integer>6</integer>
	<key>生活区</key>
	<integer>1</integer>
	<key>甲级</key>
	<integer>1</integer>
	<key>申办</key>
	<integer>1</integer>
	<key>申请</key>
	<integer>1</integer>
	<key>电动车</key>
	<integer>1</integer>
	<key>电影</key>
	<integer>1</integer>
	<key>电梯</key>
	<integer>1</integer>
	<key>电脑</key>
	<integer>3</integer>
	<key>电话</key>
	<integer>2</integer>
	<key>电话费</key>
	<integer>1</integer>
	<key>男士</key>
	<integer>1</integer>
	<key>登录</key>
	<integer>2</integer>
	<key>登记</key>
	<integer>4</integer>
	<key>登陆</key>
	<integer>1</integer>
	<key>白云区</key>
	<integer>1</integer>
	<key>白雪</key>
	<integer>1</integer>
	<key>白领</key>
	<integer>1</integer>
	<key>百分</key>
	<integer>2</integer>
	<key>百合</key>
	<integer>1</integer>
	<key>百货</key>
	<integer>17</integer>
	<key>皇家</key>
	<integer>1</integer>
	<key>皇家宫苑</key>
	<integer>1</integer>
	<key>盛世</key>
	<integer>1</integer>
	<key>盛夏</key>
	<integer>1</integer>
	<key>盛大</key>
	<integer>6</integer>
	<key>盛耀认</key>
	<integer>1</integer>
	<key>盛装</key>
	<integer>1</integer>
	<key>目标</key>
	<integer>3</integer>
	<key>相伴</key>
	<integer>1</integer>
	<key>相关</key>
	<integer>1</integer>
	<key>相宜</key>
	<integer>2</integer>
	<key>省府</key>
	<integer>1</integer>
	<key>省政府</key>
	<integer>1</integer>
	<key>知名品牌</key>
	<integer>1</integer>
	<key>知方</key>
	<integer>1</integer>
	<key>知道</key>
	<integer>1</integer>
	<key>短信</key>
	<integer>7</integer>
	<key>矿泉</key>
	<integer>1</integer>
	<key>确认</key>
	<integer>2</integer>
	<key>示范</key>
	<integer>1</integer>
	<key>礼券</key>
	<integer>3</integer>
	<key>礼包</key>
	<integer>2</integer>
	<key>礼品</key>
	<integer>15</integer>
	<key>礼遇</key>
	<integer>1</integer>
	<key>社区</key>
	<integer>9</integer>
	<key>祝您</key>
	<integer>9</integer>
	<key>祝福</key>
	<integer>1</integer>
	<key>祝贺</key>
	<integer>1</integer>
	<key>福享</key>
	<integer>1</integer>
	<key>私人</key>
	<integer>1</integer>
	<key>秋季</key>
	<integer>1</integer>
	<key>租约</key>
	<integer>1</integer>
	<key>积分</key>
	<integer>11</integer>
	<key>稀世</key>
	<integer>3</integer>
	<key>稀缺</key>
	<integer>3</integer>
	<key>稀贵</key>
	<integer>2</integer>
	<key>空出</key>
	<integer>1</integer>
	<key>空前</key>
	<integer>2</integer>
	<key>空调</key>
	<integer>1</integer>
	<key>空间</key>
	<integer>3</integer>
	<key>穿越</key>
	<integer>1</integer>
	<key>立面</key>
	<integer>2</integer>
	<key>立项</key>
	<integer>1</integer>
	<key>童装</key>
	<integer>1</integer>
	<key>笔记本</key>
	<integer>3</integer>
	<key>第一</key>
	<integer>2</integer>
	<key>第八</key>
	<integer>1</integer>
	<key>等到</key>
	<integer>1</integer>
	<key>答谢会</key>
	<integer>2</integer>
	<key>签订</key>
	<integer>1</integer>
	<key>简历</key>
	<integer>1</integer>
	<key>管理</key>
	<integer>1</integer>
	<key>米云顶</key>
	<integer>1</integer>
	<key>米亲海</key>
	<integer>1</integer>
	<key>米准</key>
	<integer>1</integer>
	<key>米大</key>
	<integer>2</integer>
	<key>米宽</key>
	<integer>1</integer>
	<key>米楼</key>
	<integer>1</integer>
	<key>米海</key>
	<integer>1</integer>
	<key>米海居</key>
	<integer>2</integer>
	<key>米涨</key>
	<integer>1</integer>
	<key>精华</key>
	<integer>2</integer>
	<key>精品</key>
	<integer>1</integer>
	<key>精工</key>
	<integer>1</integer>
	<key>精彩</key>
	<integer>1</integer>
	<key>精心打造</key>
	<integer>1</integer>
	<key>精美</key>
	<integer>6</integer>
	<key>精英</key>
	<integer>1</integer>
	<key>精装</key>
	<integer>8</integer>
	<key>系列</key>
	<integer>2</integer>
	<key>累计</key>
	<integer>2</integer>
	<key>繁华</key>
	<integer>2</integer>
	<key>红城</key>
	<integer>1</integer>
	<key>红星</key>
	<integer>1</integer>
	<key>纯正</key>
	<integer>1</integer>
	<key>组织</key>
	<integer>1</integer>
	<key>终极</key>
	<integer>1</integer>
	<key>终止</key>
	<integer>1</integer>
	<key>终身</key>
	<integer>2</integer>
	<key>经典</key>
	<integer>1</integer>
	<key>经办</key>
	<integer>1</integer>
	<key>结合</key>
	<integer>1</integer>
	<key>给予</key>
	<integer>2</integer>
	<key>绝佳</key>
	<integer>1</integer>
	<key>绝对</key>
	<integer>1</integer>
	<key>绝版</key>
	<integer>3</integer>
	<key>统一</key>
	<integer>1</integer>
	<key>综合体</key>
	<integer>3</integer>
	<key>绿化</key>
	<integer>1</integer>
	<key>绿化率</key>
	<integer>1</integer>
	<key>绿地</key>
	<integer>1</integer>
	<key>绿荫</key>
	<integer>1</integer>
	<key>缺货</key>
	<integer>1</integer>
	<key>网站</key>
	<integer>4</integer>
	<key>置业</key>
	<integer>3</integer>
	<key>置业顾问</key>
	<integer>5</integer>
	<key>美丽</key>
	<integer>3</integer>
	<key>美国</key>
	<integer>1</integer>
	<key>美好</key>
	<integer>1</integer>
	<key>美好生活</key>
	<integer>1</integer>
	<key>美容</key>
	<integer>1</integer>
	<key>美庭</key>
	<integer>1</integer>
	<key>美景</key>
	<integer>4</integer>
	<key>美甲</key>
	<integer>1</integer>
	<key>美钻</key>
	<integer>1</integer>
	<key>羽毛球场</key>
	<integer>1</integer>
	<key>翡翠</key>
	<integer>2</integer>
	<key>老城</key>
	<integer>1</integer>
	<key>而居</key>
	<integer>1</integer>
	<key>联合</key>
	<integer>1</integer>
	<key>联欢</key>
	<integer>1</integer>
	<key>联系</key>
	<integer>2</integer>
	<key>肌肤</key>
	<integer>1</integer>
	<key>自己</key>
	<integer>1</integer>
	<key>自此</key>
	<integer>1</integer>
	<key>致电</key>
	<integer>6</integer>
	<key>舒压</key>
	<integer>1</integer>
	<key>舒压枕</key>
	<integer>1</integer>
	<key>舞动</key>
	<integer>1</integer>
	<key>航母</key>
	<integer>1</integer>
	<key>良机</key>
	<integer>1</integer>
	<key>节假日</key>
	<integer>1</integer>
	<key>节日</key>
	<integer>4</integer>
	<key>花园</key>
	<integer>5</integer>
	<key>花园洋房</key>
	<integer>3</integer>
	<key>花园路</key>
	<integer>1</integer>
	<key>花苑</key>
	<integer>1</integer>
	<key>花草</key>
	<integer>1</integer>
	<key>荣膺</key>
	<integer>1</integer>
	<key>荣获</key>
	<integer>1</integer>
	<key>荣誉</key>
	<integer>2</integer>
	<key>荣郡</key>
	<integer>2</integer>
	<key>莅临</key>
	<integer>1</integer>
	<key>获益</key>
	<integer>1</integer>
	<key>获赠</key>
	<integer>6</integer>
	<key>营业额</key>
	<integer>2</integer>
	<key>营销</key>
	<integer>1</integer>
	<key>落成</key>
	<integer>1</integer>
	<key>著名</key>
	<integer>1</integer>
	<key>蓝堡湾</key>
	<integer>1</integer>
	<key>薄板</key>
	<integer>2</integer>
	<key>蚂蚁</key>
	<integer>1</integer>
	<key>行业</key>
	<integer>2</integer>
	<key>行前</key>
	<integer>1</integer>
	<key>行政</key>
	<integer>2</integer>
	<key>行政部</key>
	<integer>2</integer>
	<key>衍生</key>
	<integer>1</integer>
	<key>衡量</key>
	<integer>1</integer>
	<key>补贴</key>
	<integer>2</integer>
	<key>表示</key>
	<integer>1</integer>
	<key>装修</key>
	<integer>3</integer>
	<key>裕华</key>
	<integer>1</integer>
	<key>西城区</key>
	<integer>1</integer>
	<key>西峡</key>
	<integer>1</integer>
	<key>西班牙</key>
	<integer>4</integer>
	<key>西站</key>
	<integer>1</integer>
	<key>西花园</key>
	<integer>1</integer>
	<key>西路</key>
	<integer>1</integer>
	<key>要求</key>
	<integer>1</integer>
	<key>覆盖</key>
	<integer>1</integer>
	<key>观念</key>
	<integer>1</integer>
	<key>观景</key>
	<integer>2</integer>
	<key>观海</key>
	<integer>6</integer>
	<key>规格</key>
	<integer>1</integer>
	<key>计入</key>
	<integer>1</integer>
	<key>认购</key>
	<integer>2</integer>
	<key>让利</key>
	<integer>1</integer>
	<key>记得</key>
	<integer>1</integer>
	<key>讲座</key>
	<integer>2</integer>
	<key>许昌</key>
	<integer>1</integer>
	<key>许继</key>
	<integer>1</integer>
	<key>设计</key>
	<integer>5</integer>
	<key>证明</key>
	<integer>1</integer>
	<key>试用装</key>
	<integer>1</integer>
	<key>诚挚</key>
	<integer>1</integer>
	<key>诚邀</key>
	<integer>1</integer>
	<key>详情</key>
	<integer>8</integer>
	<key>详见</key>
	<integer>1</integer>
	<key>语汇</key>
	<integer>1</integer>
	<key>说明会</key>
	<integer>1</integer>
	<key>请柬</key>
	<integer>1</integer>
	<key>调价</key>
	<integer>1</integer>
	<key>调度</key>
	<integer>1</integer>
	<key>谢谢</key>
	<integer>4</integer>
	<key>豪华</key>
	<integer>1</integer>
	<key>财务</key>
	<integer>3</integer>
	<key>财富</key>
	<integer>2</integer>
	<key>财智</key>
	<integer>1</integer>
	<key>财神</key>
	<integer>1</integer>
	<key>货品</key>
	<integer>1</integer>
	<key>贬值</key>
	<integer>1</integer>
	<key>购买</key>
	<integer>8</integer>
	<key>购房</key>
	<integer>5</integer>
	<key>购物</key>
	<integer>18</integer>
	<key>购物中心</key>
	<integer>1</integer>
	<key>贵宾</key>
	<integer>7</integer>
	<key>贵宾卡</key>
	<integer>1</integer>
	<key>贵族</key>
	<integer>1</integer>
	<key>资料</key>
	<integer>4</integer>
	<key>资源</key>
	<integer>2</integer>
	<key>赚钱</key>
	<integer>1</integer>
	<key>赠礼</key>
	<integer>1</integer>
	<key>赠送</key>
	<integer>5</integer>
	<key>赢取</key>
	<integer>1</integer>
	<key>赶快</key>
	<integer>1</integer>
	<key>赶紧</key>
	<integer>1</integer>
	<key>超低</key>
	<integer>3</integer>
	<key>超低价</key>
	<integer>1</integer>
	<key>超值</key>
	<integer>6</integer>
	<key>超宽</key>
	<integer>1</integer>
	<key>超高</key>
	<integer>3</integer>
	<key>路三</key>
	<integer>1</integer>
	<key>路低</key>
	<integer>1</integer>
	<key>路旁</key>
	<integer>2</integer>
	<key>路演</key>
	<integer>1</integer>
	<key>身份证</key>
	<integer>4</integer>
	<key>车库</key>
	<integer>1</integer>
	<key>车用</key>
	<integer>1</integer>
	<key>转发</key>
	<integer>2</integer>
	<key>转盘</key>
	<integer>1</integer>
	<key>载誉</key>
	<integer>1</integer>
	<key>辉县</key>
	<integer>1</integer>
	<key>辣椒</key>
	<integer>1</integer>
	<key>迁址</key>
	<integer>1</integer>
	<key>过来</key>
	<integer>1</integer>
	<key>迈向</key>
	<integer>1</integer>
	<key>迎宾</key>
	<integer>2</integer>
	<key>迎宾路</key>
	<integer>2</integer>
	<key>迎接</key>
	<integer>1</integer>
	<key>运输</key>
	<integer>1</integer>
	<key>近日</key>
	<integer>1</integer>
	<key>近期</key>
	<integer>3</integer>
	<key>还是</key>
	<integer>1</integer>
	<key>还有</key>
	<integer>2</integer>
	<key>进入</key>
	<integer>1</integer>
	<key>进口</key>
	<integer>1</integer>
	<key>进行</key>
	<integer>6</integer>
	<key>远景规划</key>
	<integer>1</integer>
	<key>迪亚</key>
	<integer>1</integer>
	<key>送礼</key>
	<integer>1</integer>
	<key>送货</key>
	<integer>2</integer>
	<key>选择</key>
	<integer>2</integer>
	<key>选购</key>
	<integer>1</integer>
	<key>递减</key>
	<integer>2</integer>
	<key>通知</key>
	<integer>19</integer>
	<key>通透</key>
	<integer>2</integer>
	<key>造成</key>
	<integer>1</integer>
	<key>逸品</key>
	<integer>1</integer>
	<key>道歉</key>
	<integer>1</integer>
	<key>遗憾</key>
	<integer>1</integer>
	<key>遥望</key>
	<integer>1</integer>
	<key>邀请</key>
	<integer>5</integer>
	<key>邮箱</key>
	<integer>3</integer>
	<key>邻居</key>
	<integer>1</integer>
	<key>郑东</key>
	<integer>4</integer>
	<key>郑东新区</key>
	<integer>1</integer>
	<key>郑州</key>
	<integer>1</integer>
	<key>部分</key>
	<integer>3</integer>
	<key>部落</key>
	<integer>1</integer>
	<key>部门</key>
	<integer>1</integer>
	<key>都城</key>
	<integer>1</integer>
	<key>配合</key>
	<integer>2</integer>
	<key>配套</key>
	<integer>3</integer>
	<key>酒店</key>
	<integer>7</integer>
	<key>酒瓶</key>
	<integer>1</integer>
	<key>酬宾</key>
	<integer>4</integer>
	<key>重大</key>
	<integer>1</integer>
	<key>重庆</key>
	<integer>1</integer>
	<key>重新</key>
	<integer>2</integer>
	<key>重点</key>
	<integer>1</integer>
	<key>重点中学</key>
	<integer>1</integer>
	<key>重磅</key>
	<integer>1</integer>
	<key>金卡</key>
	<integer>2</integer>
	<key>金城</key>
	<integer>2</integer>
	<key>金域缇</key>
	<integer>1</integer>
	<key>金店</key>
	<integer>1</integer>
	<key>金座</key>
	<integer>1</integer>
	<key>金水</key>
	<integer>2</integer>
	<key>金水东路</key>
	<integer>1</integer>
	<key>金水区</key>
	<integer>1</integer>
	<key>金沙</key>
	<integer>3</integer>
	<key>金牌</key>
	<integer>1</integer>
	<key>金秋</key>
	<integer>2</integer>
	<key>金色</key>
	<integer>1</integer>
	<key>金街带</key>
	<integer>1</integer>
	<key>金诚</key>
	<integer>1</integer>
	<key>金铺</key>
	<integer>1</integer>
	<key>金额</key>
	<integer>1</integer>
	<key>鉴赏</key>
	<integer>2</integer>
	<key>银泰两</key>
	<integer>1</integer>
	<key>销售</key>
	<integer>11</integer>
	<key>销售额</key>
	<integer>6</integer>
	<key>销量</key>
	<integer>2</integer>
	<key>错失</key>
	<integer>2</integer>
	<key>错过</key>
	<integer>3</integer>
	<key>锦绣</key>
	<integer>1</integer>
	<key>门口</key>
	<integer>1</integer>
	<key>闭塞</key>
	<integer>1</integer>
	<key>间距</key>
	<integer>2</integer>
	<key>阔达</key>
	<integer>1</integer>
	<key>阳光</key>
	<integer>2</integer>
	<key>阳光城</key>
	<integer>1</integer>
	<key>阶层</key>
	<integer>2</integer>
	<key>阿罗哈</key>
	<integer>3</integer>
	<key>陈莹丽</key>
	<integer>1</integer>
	<key>限时抢购</key>
	<integer>2</integer>
	<key>限购</key>
	<integer>2</integer>
	<key>限量</key>
	<integer>2</integer>
	<key>除外</key>
	<integer>2</integer>
	<key>隆名居</key>
	<integer>1</integer>
	<key>难得</key>
	<integer>1</integer>
	<key>集结</key>
	<integer>1</integer>
	<key>雨具</key>
	<integer>1</integer>
	<key>雪山</key>
	<integer>1</integer>
	<key>零售</key>
	<integer>4</integer>
	<key>震撼</key>
	<integer>2</integer>
	<key>青春</key>
	<integer>1</integer>
	<key>非常</key>
	<integer>3</integer>
	<key>面值</key>
	<integer>2</integer>
	<key>面积</key>
	<integer>1</integer>
	<key>面试</key>
	<integer>2</integer>
	<key>韩国</key>
	<integer>2</integer>
	<key>音乐喷泉</key>
	<integer>1</integer>
	<key>顶级</key>
	<integer>1</integer>
	<key>项目</key>
	<integer>1</integer>
	<key>顾客</key>
	<integer>6</integer>
	<key>顾问</key>
	<integer>1</integer>
	<key>预定</key>
	<integer>1</integer>
	<key>预定热线</key>
	<integer>1</integer>
	<key>预约</key>
	<integer>5</integer>
	<key>领取</key>
	<integer>8</integer>
	<key>领导</key>
	<integer>1</integer>
	<key>额外</key>
	<integer>3</integer>
	<key>风华</key>
	<integer>1</integer>
	<key>风情</key>
	<integer>3</integer>
	<key>风险</key>
	<integer>1</integer>
	<key>飙升</key>
	<integer>1</integer>
	<key>食品类</key>
	<integer>1</integer>
	<key>食用油</key>
	<integer>1</integer>
	<key>餐券</key>
	<integer>1</integer>
	<key>饰品</key>
	<integer>1</integer>
	<key>首付</key>
	<integer>5</integer>
	<key>首季</key>
	<integer>1</integer>
	<key>首席</key>
	<integer>2</integer>
	<key>首站</key>
	<integer>1</integer>
	<key>首选</key>
	<integer>3</integer>
	<key>首饰</key>
	<integer>1</integer>
	<key>香山公园</key>
	<integer>1</integer>
	<key>驻马店</key>
	<integer>1</integer>
	<key>验证</key>
	<integer>1</integer>
	<key>高减</key>
	<integer>1</integer>
	<key>高尚</key>
	<integer>2</integer>
	<key>高层</key>
	<integer>2</integer>
	<key>高度</key>
	<integer>1</integer>
	<key>高端</key>
	<integer>3</integer>
	<key>高额</key>
	<integer>1</integer>
	<key>鲜氧饮</key>
	<integer>1</integer>
	<key>鲜花</key>
	<integer>1</integer>
	<key>鸿福</key>
	<integer>2</integer>
	<key>黄山</key>
	<integer>1</integer>
	<key>黎游</key>
	<integer>1</integer>
	<key>鼎新</key>
	<integer>6</integer>
	<key>鼓励</key>
	<integer>2</integer>
	<key>龙光</key>
	<integer>1</integer>
	<key>龙城</key>
	<integer>3</integer>
	<key>龙湖</key>
	<integer>1</integer>
	<key>龙脉</key>
	<integer>1</integer>
	<key>１６</key>
	<integer>1</integer>
	<key>２００</key>
	<integer>1</integer>
	<key>２４</key>
	<integer>1</integer>
	<key>４０</key>
	<integer>1</integer>
	<key>６０</key>
	<integer>1</integer>
</dict>
</plist>
